## String Based Assignment Problem

In [1]:
# 1. Write a program to reverse a string.

#Ans:
s = str(input())
cs = s.casefold()
reversed_str = cs[::-1]
print(reversed_str)

aditi is doing good
doog gniod si itida

In [3]:
# 2. Check if a string is a palindrome.

#Ans:
s = str(input())
s = s.casefold()
reversed_str = reversed(s)

if list(s) == list(reversed_str):
    print('The string is palidrome')
else:
    print('The string is not palidrome')

radar
The string is palidrome

In [4]:
# 3. Convert a string to uppercase.

#Ans:

s = str(input())
upper_s = s.upper()
print(upper_s)

aditi
ADITI

In [5]:
# 4. Convert a string to lowercase.

#Ans:

s = str(input())
lower_s = s.lower()
print(lower_s)

ADITI
aditi

In [26]:
# 5. Count the number of vowels in a string.

#Ans:

s = str(input())
count= 0

for i in s:
    if (i == 'a'or i == 'e' or i == 'i'or i =='o'or i =='u' or i =='A' or i== 'E' or i =='I' or i =='O' or i == 'U'):
        count=count+1
print("Number of vowels are:")
print(count)

aditi
3

In [2]:
# 6. Count the number of consonants in a string.

#Ans:

s = str(input())
count= 0

for i in s:
    if (i != 'a'and i != 'e' and i != 'i' and i !='o'and i !='u' and i !='A' and i != 'E' and i !='I' and i !='O' and i != 'U'):
        count=count+1
print("Number of consonants are:")
print(count)

aditi
Number of consonants are:
2

In [3]:
# 7. Remove all whitespaces from a string.

# Ans:
s = str(input())

s.strip()

      aditi

'aditi'

In [6]:
# 8. Find the length of a string without using the `len()` function.

# Ans:

s = str(input())
count = 0
for i in s:
    count = count+1
print('length of string is:')
print(count)

aditi
5

In [16]:
# 9. Check if a string contains a specific word.

# Ans:

s = str(input())
specific_word = str(input())

if specific_word in s:
    print('success')
else:
    print('Not success')

how are you
me
Not success

In [1]:
# 10. Replace a word in a string with another word.

#Ans:

s = str(input())
s.replace('how', 'are')

how are you

'are are you'

In [2]:
# 11. Count the occurrences of a word in a string.

# Ans:
s = str(input())
s.count('are')

how are are you

2

In [3]:
# 12. Find the first occurrence of a word in a string.

# Ans:
s = str(input())
s.find('are')

how are you what are you hobbies

4

In [4]:
# 13. Find the last occurrence of a word in a string.

# Ans:
s = str(input())
s.rfind('are')

how are you what are your hobbies

17

In [23]:
# 14. Split a string into a list of words.

# Ans:

s = str(input())
s.split()
# for i in s:
#     list_s.append(i)
# print(list_s)

aditi is good

['aditi', 'is', 'good']

In [3]:
# 15. Join a list of words into a string.

# Ans:

list = ['nagsdhs', 'nmsjd', 'ndfhd']
str = ''
str.join(list)

'nagsdhsnmsjdndfhd'

In [2]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

#Ans:
s = str(input())
s.replace(' ', "_")

aditi is working with mnc

'aditi_is_working_with_mnc'

In [4]:
# 17. Check if a string starts with a specific word or phrase.

# Ans:
s = str(input())
s.startswith('aditi')

ashish is a great person

False

In [5]:
# 18. Check if a string ends with a specific word or phrase.

# Ans:
s = str(input())
s.endswith('aditi')

what are you doing aditi

True

In [6]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

# Ans:
s = str(input())
s.title()

hello world

'Hello World'

In [5]:
# 20. Find the longest word in a string.

#Ans:
s = str(input())
sp = s.split(' ')

longest_word = max(sp, key= len)
print('Longest Word:', longest_word)
print('Index position of the longest word is: ', sp.index(longest_word))

aditi is a data science learner
Longest Word: science
Index position of the longest word is:  4

In [7]:
# 21. Find the shortest word in a string.

# Ans:
s = str(input())
sp = s.split(' ')

Shortest_word = min(sp, key= len)
print('Shortest Word:', Shortest_word)
print('Index position of the longest word is: ', sp.index(Shortest_word))

aditi_is_learner
Shortest Word: aditi_is_learner
Index position of the longest word is:  0

In [2]:
#22. Reverse the order of words in a string.

# Ans:
s = str(input())
sp = s.split(' ')

new_str = sp[::-1]

print(new_str)

str_new = str(new_str)
print(str_new)
type(str_new)

my name is aditi
['aditi', 'is', 'name', 'my']
['aditi', 'is', 'name', 'my']

str

In [4]:
# 23. Check if a string is alphanumeric.

# Ans:
s = str(input())
s.isalnum()

aditi429

True

In [4]:
# 24. Extract all digits from a string.

# Ans:
import re
re.findall(r'\d+', "hello 42 I'm a 32 string 30")

['42', '32', '30']

In [7]:
# 25. Extract all alphabets from a string.

# Ans:
import re
re.findall(r"[a-zA-Z]+", "hello 42 I'm a 32 string 30")

['hello', 'I', 'm', 'a', 'string']

In [14]:
# 26. Count the number of uppercase letters in a string.

#Ans:
s = str(input())
import re
new_list = re.findall(r"[A-Z]",s)
count = 0

for i in new_list:
    count+=1
print(count)

aditi IS Doing Great
4

In [15]:
# 27. Count the number of lowercase letters in a string.

# Ans:

s = str(input())
import re
new_list = re.findall(r"[a-z]",s)
count = 0

for i in new_list:
    count+=1
print(count)

aditi is Doing great
16

In [17]:
# 28. Swap the case of each character in a string.

#Ans:
s = str(input())
s.swapcase()

ADITI

'aditi'

In [19]:
# 29. Remove a specific word from a string.

# Ans:
s = str(input())
s.strip('x')

x is a good person

' is a good person'

In [21]:
# 30. Check if a string is a valid email address.

# Ans:
from email.utils import parseaddr
    
parseaddr('goyaladiti429@gmail.com')

('', 'goyaladiti429@gmail.com')

In [2]:
# 31. Extract the username from an email address string.

#Ans:
s = str(input())
sn = s.split('@')
sn[0]

goyaladiti429@gmailcom

'goyaladiti429'

In [3]:
# 32. Extract the domain name from an email address string.

# Ans:
s = str(input())
sn = s.split('@')
sn[1]

goyaladiti429@gmailcom

'gmailcom'

In [8]:
# 33. Replace multiple spaces in a string with a single space.

#Ans:
import re
s = str(input())
document = re.sub(r'\s+', " ", s, flags= re.I)
print(document)

That is a           test for removing
That is a test for removing

In [4]:
# 34. Check if a string is a valid URL.

# Ans:
import re

def Find(string):
    regex = r"(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'\".,<>?«»“”‘’]))"
    url = re.findall(regex, string)
    return [x[0] for x in url]
 

string = 'My Profile: https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles in the portal of https://www.geeksforgeeks.org/'
print("Urls: ", Find(string))

Urls:  ['https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles', 'https://www.geeksforgeeks.org/']

In [15]:
# 36. Find the frequency of each character in a string.

#Ans:

s = str(input())
all_freq = {}
 
for i in s:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
 
print("Count of all characters in GeeksforGeeks is :\n "
      + str(all_freq))

geeksforgeeks
Count of all characters in GeeksforGeeks is :
 {'g': 2, 'e': 4, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1}

In [7]:
# 37. Remove all punctuation from a string.

#Ans:
import re
import string

s = 'aditi doing great!!!...'
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

for i in s:
    if i in punc:
        s = s.replace(i, "")
        
print(s)

aditi doing great

In [19]:
# 38. Check if a string contains only digits.

#Ans:

s = str(input())
s.isdigit()

73486478

True

In [21]:
# 39. Check if a string contains only alphabets.

#Ans:

s = str(input())
s.isalpha()

dfshjhjdsh

True

In [25]:
# 40. Convert a string to a list of characters.

# Ans:

s = str(input())
list_s = []
for i in s:
    list_s.append(i)
print(list_s)

aditi is geat
['a', 'd', 'i', 't', 'i', ' ', 'i', 's', ' ', 'g', 'e', 'a', 't']

In [34]:
# 41. Check if two strings are anagrams.

# Ans:

str_1 = str(input())
str_2 = str(input())

str_1 = str_1.lower()
str_2 = str_2.lower()


if(len(str_1) == len(str_2)):
    sorted_str1 = sorted(str_1)
    sorted_str2 = sorted(str_2)
    if(sorted_str1 == sorted_str2):
        print('strings are agagrams')   
    else:
        print('strings are not agagrams')
else:
    print('strings are not agagrams.')

geeksforpeeks
geeksforpeaks
strings are not agagrams

In [ ]:
# 42. Encode a string using a Caesar cipher.

#Ans:

In [ ]:
# 43. Decode a Caesar cipher encoded string.

#Ans:

In [44]:
# 44. Find the most frequent word in a string.

# Ans:
s = "Aditi is doing great Aditi "
s = s.split()

most_frequent = max(s, key = s.count)
print("Most frequent word is: ", most_frequent)

Most frequent word is:  Aditi

In [5]:
#45.Find all unique words in a string.

#Ans:
s = str(input())
list = s.split()
unique = []

for i in list:
    if i not in unique:
        unique.append(i)
print(unique)

geeks for geeks
['geeks', 'for']

In [3]:
# 46. Count the number of syllables in a string.

#Ans:
def syllable_count(word):
    count = 0
    vowels = "aeiouy"
    if word[0] in vowels:
        count += 1
    for index in range(1, len(word)):
        if word[index] in vowels and word[index - 1] not in vowels:
            count += 1
            if word.endswith("e"):
                count -= 1
    if count == 0:
        count += 1
    return count

print(syllable_count("HAIRY"))

1

In [12]:
# 47. Check if a string contains any special characters.

# Ans:
special_characters = "!@#$%^&*()-+?_=,<>/"
s = str(input())
special_character = []

for i in s:
    if i in special_characters:
        special_character.append(i)
print(special_character)

aditi! are you sure? ()
['!', '?', '(', ')']

In [2]:
# 48. Remove the nth word from a string.

# Ans:
s = str(input())
n = str(input())


print(s.strip(n))

aditi is going somewhere
somewhere
aditi is going

In [9]:
# 49. Insert a word at the nth position in a string.

# Ans:

s = 'my name is aditi'
s [0:16] +" " +'goyal'

'my name is aditi goyal'

In [61]:
# 50. Convert a CSV string to a list of lists.

# Ans:

import csv

readCSV = open('heart_disease.csv', 'r')

rows = csv.reader(readCSV)

res = list(zip(*rows))

print(res)

#     # Return a reader object which will
#     # iterate over lines in the given csvfile
# #     csv_reader = csv.reader(read_obj)
  
#     # convert string to list
# list_of_csv = list(readCSV)
  
# print(list_of_csv)

TypeError: 'list' object is not callable

## List Based Practice Problem

In [14]:
# 1. Create a list with integers from 1 to 10.

# Ans:
list = []

for i in range(0,11,1):
    list.append(i)
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
# 2. Find the length of a list without using the `len()` function.

# Ans:
count = 0
list = [2,78,9,10]
for i in list:
    count+=1
print(count)

4

In [19]:
# 3. Append an element to the end of a list.

#Ans:
list.append(67)
print(list)

[2, 78, 9, 10, 67, 67]

In [22]:
# 4. Insert an element at a specific index in a list.

# Ans:
list.insert(2,89)
print(list)

[2, 78, 89, 9, 10, 67, 67, 2, 2]

In [23]:
# 5. Remove an element from a list by its value.

# Ans:
list.remove(67)
print(list)

[2, 78, 89, 9, 10, 67, 2, 2]

In [25]:
# 6. Remove an element from a list by its index.

# Ans:
list.pop(1)
print(list)

[2, 9, 10, 67, 2, 2]

In [28]:
# 7. Check if an element exists in a list.
# Ans:

i = int(input("Target element is:"))  
if i in list:
    print("Status: ",'Yes')
else:
    print('No')

Target element is:67
Status:  Yes

In [29]:
# 8. Find the index of the first occurrence of an element in a list.

#Ans:
list.index(67)

3

In [32]:
# 9. Count the occurrences of an element in a list.

# Ans:
element = int(input())
print('Frequency of element is:' ,list.count(element))

67
Frequency of element is: 1

In [33]:
# 10. Reverse the order of elements in a list.

# Ans:
list[::-1]

[2, 2, 67, 10, 9, 2]

In [37]:
# 11. Sort a list in ascending order.

# Ans:
list.sort()
print(list)

[2, 2, 2, 9, 10, 67]

In [39]:
# 12. Sort a list in descending order.

# Ans:
list.sort(reverse= True)
print(list)

[67, 10, 9, 2, 2, 2]

In [48]:
# 13. Create a list of even numbers from 1 to 20.

# Ans:
l = []
for i in range(0,20):
    if  i%2==0:
        l.append(i)
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [51]:
# 14. Create a list of odd numbers from 1 to 20.

# Ans:
ls = []
for i in range(0,20):
    if i%2!=0:
        ls.append(i)
print(ls)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [58]:
# 15. Find the sum of all elements in a list.

# Ans:
total = 0
for i in range(0, len(ls)):
    total = total+ ls[i]
print('Sum of all elements is:', total)

Sum of all elements is: 100

In [59]:
# 16. Find the maximum value in a list.

# Ans:
print("Maximum value in the list: ", max(ls))

19

In [61]:
# 17. Find the minimum value in a list.

# Ans:
print("Minimum value in the list: ", min(ls))

Minimum value in the list:  1

In [62]:
# 18. Create a list of squares of numbers from 1 to 10.

# Ans:
nl = []
for i in range(0,11):
    nl.append(i*i)
    i = i + 1
print(nl)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [69]:
# 19. Create a list of random numbers.

# Ans:
import random

ln = []
for i in range(11):
    ln.append(random.randint(3,25))
print(ln)

[23, 22, 12, 20, 12, 23, 11, 18, 5, 24, 10]

In [72]:
# 20. Remove duplicates from a list.

# Ans:
new_lst = [22, 33, 14, 55, 66, 90, 32, 40, 40]
lst = []
for i in new_lst:
    if i not in lst:
        lst.append(i)
print(lst)

[22, 33, 14, 55, 66, 90, 32, 40]

In [2]:
# 21. Find the common elements between two lists.

# Ans:
nlst = [2,34,56,78,90,45]
slst = [18,89,45,90,32,45]
lt = []

for i in nlst:
    if i in slst:
        lt.append(i)
print(lt)

[90, 45]

In [3]:
# 22. Find the difference between two lists.

# Ans:
ltc = []

for i in nlst:
    if i not in slst:
        ltc.append(i)

ltn = []
for i in slst:
    if i not in nlst:
        ltn.append(i)


final_lst = ltc + ltn 
print(final_lst)
# for i in final_lst:
#     if i not in lt:
#         fl.append(i)
# print("Final list is: ",fl)

[2, 34, 56, 78, 18, 89, 32]

In [4]:
# 23. Merge two lists.

# Ans:
ls_n = [2,3,4,6]
ls_t = [4,5,6,7]
print('Merged list is:', ls_n + ls_t)

Merged list is: [2, 3, 4, 6, 4, 5, 6, 7]

In [6]:
# 24. Multiply all elements in a list by 2.

# Ans:
ly = []
for i in final_lst:
    ly.append(i*2)
    i = i+1
print(ly)

[4, 68, 112, 156, 36, 178, 64]

In [10]:
# 25. Filter out all even numbers from a list.

# Ans:

for i in final_lst:
    if i % 2==0:
        print(i)

2
34
56
78
18
32

In [2]:
# 26. Convert a list of strings to a list of integers.

# Ans:

lit = ['45', '91']
mn = []
for i in lit:
    mn.append(int(i))
print(mn)

[45, 91]

In [3]:
# 27. Convert a list of integers to a list of strings.

# Ans:
lty = [908, 56, 890, 52, 43]
nm =[]
for i in lty:
    nm.append(str(i))
print(nm)

['908', '56', '890', '52', '43']

In [6]:
# 28. Flatten a nested list.

#Ans:
my_list = [[1], [2, 3], [4, 5, 6, 7]]
flat_list = []

for sublist in my_list:
    for i in sublist:
        flat_list.append(i)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [16]:
# 29. Create a list of the first 10 Fibonacci numbers.

# Ans:
n = int(input())
n1, n2 =0,1
count =1
if n <=0:
    print("enter the positive number")
elif n == 1:
    print("Not a valid input:", n1)
else:
    print("Fibonacci sequence:")
    while count <= n:
        print(n1)
        nth = n1 + n2
        n1 = n2
        n2 = nth
        count += 1

10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [20]:
# 30. Check if a list is sorted.

# Ans:
list = [1,2,3,56]

if list == sorted(list):
    print("list is sorted")
else:
    print("list is not sorted")

list is sorted

In [47]:
#31. Rotate a list to the left by `n` positions.

#Ans:
n =  int(input())
list = [1,3,4,6,78]
final_lst = list[n:]+list[:n]
print(final_lst)

3
[6, 78, 1, 3, 4]

In [48]:
# 32. Rotate a list to the right by `n` positions.

# Ans:
n =  int(input())
final_l = list[n:]+list[:n]
print(final_l)

-3
[4, 6, 78, 1, 3]

In [7]:
# 33. Create a list of prime numbers up to 50.

# Ans:
l = []
n = int(input())

for i in range(0,n+1):
    for j in range(2, n+1):
        if i % j == 0:
            break
    if i == j:
        l.append(i)

print(l)

50
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [68]:
# 34. Split a list into chunks of size `n`.

# Ans:

my_list = ['for', 'like',
           'geeky','nerdy', 'love',
               'questions','words', 'life']
def divide_chunks(l,n):
    for i in range(0, len(l), n):
        return l[i:i+n]
n = 5
  
x = divide_chunks(my_list, n)
print (x)

['for', 'like', 'geeky', 'nerdy', 'love']

In [69]:
# 35. Find the second largest number in a list.

# Ans:

l = [1,2,3,4,5]
l.sort(reverse=True)
print('second largest:', l[1])

second largest: 4

In [16]:
# 36. Replace every element in a list with its square.

# Ans:
import math
l = [4,8]
l_s = []
for i in l:
    l_s.append(math.sqrt(i))

print(l_s)

[2.0, 2.8284271247461903]

In [17]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

# Ans:
dict(map(reversed, enumerate(l)))

{4: 0, 8: 1}

In [20]:
# 38. Shuffle the elements of a list randomly.

# Ans:
import random
l = [7,89,10,4,78]
random.shuffle(l)
print(l)

[10, 4, 7, 89, 78]

In [21]:
# 39. Create a list of the first 10 factorial numbers.

# Ans:
li = []
for i in range(10):
    li.append(math.factorial(i))

print(li)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [27]:
# 40. Check if two lists have at least one element in common.

# Ans:
l1 = [1,2,3,4,5]
l2 = [10,20, 30,40,50]

out = any(i in l1 for i in l2)

if out:
    print('True')
else:
    print('False')

False

In [6]:
# 41. Remove all elements from a list.

# Ans:
l1 = [1,2,45,879]
l1.clear()    
print(l1)

[]

In [14]:
# 42. Replace negative numbers in a list with 0.

# Ans:

l3 = [4, 5, 89, -4, -5]


l2 = [0 if i < 0 else i for i in l3]
# for i in l3:
#     if i < 0:
#         i = 0
#     else:
#         i = i

print(l2)

[4, 5, 89, 0, 0]

In [20]:
# 43. Convert a string into a list of words.

#Ans:
string = 'aditi goyal is doing good'
l2 = []
for i in string:
    res = string.split()
list(res)

['aditi', 'goyal', 'is', 'doing', 'good']

In [29]:
# 44. Convert a list of words into a string.

# Ans:
l = ['aditi', 'goyal', 'is', 'doing', 'good'] 
delimiter = ','
new_str = [str(i) for i in l]
new_str = delimiter.join(new_str)
new_str.replace(',', " ")

'aditi goyal is doing good'

In [32]:
# 45. Create a list of the first `n` powers of 2.

# Ans:
n = int(input())
l5 = []
import math
for i in range(0,n):
    l5.append(math.pow(i, 2))

print(l5)

5
[0.0, 1.0, 4.0, 9.0, 16.0]

In [37]:
# 46. Find the longest string in a list of strings.

# Ans:
l = ['aditi', 'goyal', 'is', 'doing', 'good']
print(max(l, key = len))

aditi

In [39]:
# 47. Find the shortest string in a list of strings.

# Ans:
print(min(l,key = len))

is

In [70]:
# 48. Create a list of the first `n` triangular numbers.

# Ans:
limit = 10
triangle_nums = []
num = 0

for i in range(1, limit + 1):
    num += i
    triangle_nums.append(num)
print(triangle_nums)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [1]:
# 49. Check if a list contains another list as a subsequence.

# Ans:
test_list = [9, 4, 5, 8, 10]
sub_list = [10, 5, 4]

if(all(x in test_list for x in sub_list)):
    flag =1
    
if (flag):
    print("Yes sublist is the list of testlist")
else:
    print("Yes sublist is not the list of testlist")

Yes sublist is the list of testlist

In [2]:
# 50. Swap two elements in a list by their indices.

# Ans:
list = ['geeks', 'ineuron']
list[0], list[1] = list[1], list[0]
print(list)

['ineuron', 'geeks']

## Tuple Based Practice Problem

In [3]:
# 1. Create a tuple with integers from 1 to 5.

# Ans:
x = (1,2,3,4,5)

In [9]:
# 2. Access the third element of a tuple.

# Ans:
x[2]

3

In [7]:
# 3. Find the length of a tuple without using the `len()` function

# Ans:
count = 0

for i in x:
    count+=1
print(count)

5

In [10]:
# 4. Count the occurrences of an element in a tuple.

# Ans:
y = (9,10,10,8,4,10)
element = int(input('enter the element: '))
count = 0

print("Occurance of element in tuple: ", y.count(10))

enter the element: 10
Occurance of element in tuple:  3

In [11]:
# 5. Find the index of the first occurrence of an element in a tuple.

# Ans:
y.index(10)

1

In [25]:
# 6. Check if an element exists in a tuple.

# Ans:
y = (9,10,10,8,4,10)

element = int(input())

if y.count(element)> 0:
    print("yes element exist in tuple")
else:
    print("No element does not exist in tuple")

20
No element does not exist in tuple

In [26]:
# 7. Convert a tuple to a list.

# Ans:
list(y)

[9, 10, 10, 8, 4, 10]

In [27]:
# 8. Convert a list to a tuple.

# Ans:
list = [4, 'ggeks', "stack"]
tuple(list)

(4, 'ggeks', 'stack')

In [28]:
# 9. Unpack the elements of a tuple into variables.

# Ans:
for i in y:
    print(i, end = " ")

9 10 10 8 4 10

In [29]:
# 10. Create a tuple of even numbers from 1 to 10.

# Ans:
list = []
for i in range(11):
    if i%2==0:
        list.append(i)

tuple(list)

(0, 2, 4, 6, 8, 10)

In [32]:
# 11. Create a tuple of odd numbers from 1 to 10.

# Ans:
l = []

for i in range(11):
    if i%2 !=0:
        l.append(i)
tuple(l)

(1, 3, 5, 7, 9)

In [33]:
# 12. Concatenate two tuples.

# Ans:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [35]:
# 13. Repeat a tuple three times.

# Ans:
t3 =(6,89,10)
t3*3

(6, 89, 10, 6, 89, 10, 6, 89, 10)

In [37]:
# 14. Check if a tuple is empty.

# Ans:
t4 = ()
if len(t4) ==0:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty

In [38]:
# 15. Create a nested tuple.

# Ans:
t5 = (1,2,4,(10,11,12))

In [39]:
# 16. Access the first element of a nested tuple.

# Ans:
t5[3][0]

10

In [40]:
# 17. Create a tuple with a single element.

# Ans:
t6 = (10)

In [49]:
# 18. Compare two tuples.

# Ans:
t6 = (12,13,14)
t7 = (13,12,14)
flag = 0
if(all(i in t6 for i in t7)):
    flag =1

if (flag):
    print("tuple is equal")
else:
    print("tuple is not equal")

tuple is equal

In [53]:
# 19. Delete a tuple.

# Ans:
t8 = (10,20)
del(t8)

In [55]:
# 20. Slice a tuple.

# Ans:
t9 = (10,20,30,40,50)
t9[0:6:2]

(10, 30, 50)

In [56]:
# 21. Find the maximum value in a tuple.

# Ans:
max(t9)

50

In [57]:
# 22. Find the minimum value in a tuple.

# Ans:
min(t9)

10

In [58]:
# 23. Convert a string to a tuple of characters.

# Ans:
string = "aditi is doing good"
tuple(string)

('a',
 'd',
 'i',
 't',
 'i',
 ' ',
 'i',
 's',
 ' ',
 'd',
 'o',
 'i',
 'n',
 'g',
 ' ',
 'g',
 'o',
 'o',
 'd')

In [60]:
# 24. Convert a tuple of characters to a string.

# Ans:
t10 = ('a','d','i','t','i',' ','i','s',' ','d', 'o','i','n','g',' ','g','o','o','d')
str(t10)

"('a', 'd', 'i', 't', 'i', ' ', 'i', 's', ' ', 'd', 'o', 'i', 'n', 'g', ' ', 'g', 'o', 'o', 'd')"

In [84]:
st = ''.join(t10)
print(st)

aditi is doing good

In [89]:
# 25. Create a tuple from multiple data types.

# Ans:
t11 = (1, 'pwd', 1.78, 5j+4, True)

In [7]:
# 26. Check if two tuples are identical.

# Ans:
t12 = (2,3)
t13 = (2,3)

if(all(i in t12 for i in t13)):
    flag =1
if (flag):
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

In [8]:
# 27. Sort the elements of a tuple.

#Ans:
t14 = (2,34,13,56,90)
sorted(t14)

[2, 13, 34, 56, 90]

In [20]:
# 28. Convert a tuple of integers to a tuple of strings

# Ans:
list = []
for i in t14:
    list.append(str(i))
t15 = tuple(list)
print(t15)

('2', '34', '13', '56', '90')

In [21]:
# 29. Convert a tuple of strings to a tuple of integers.

# Ans:
list = []
for i in t15:
    list.append(int(i))
t16 = tuple(list)
print(t16)

(2, 34, 13, 56, 90)

In [23]:
# 30. Merge two tuples.

# Ans:
t16 = (9, 10, 12, 13, 14)
t17 = (2, 3, 4, 5, 6, 7)
t18 = t16+ t17
print(t18)

(9, 10, 12, 13, 14, 2, 3, 4, 5, 6, 7)

In [33]:
# 31. Flatten a nested tuple.

# Ans:
t19 = (1, 2, 3, 4, 5, (10, 11, 12))
l = []
l1 = []
for i in t19[0:5]:
    l.append(i)

for i in t19[5]:
    l1.append(i)
l = l + l1
print(tuple(l))

(1, 2, 3, 4, 5, 10, 11, 12)

In [3]:
# 32. Create a tuple of the first 5 prime numbers.

# Ans:

l = []
n = int(input())

for i in range(0,n+1):
    for j in range(2, n+1):
        if i % j == 0:
            break
    if i == j:
        l.append(i)

print(tuple(l))

50
(2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47)

In [ ]:
# 33. Check if a tuple is a palindrome.

# Ans:

In [36]:
# 34. Create a tuple of squares of numbers from 1 to 5.

# Ans:
import math
list = []
for i in range(0,5):
    list.append(math.sqrt(i))
tuple(list)

(0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0)

In [40]:
# 35. Filter out all even numbers from a tuple.

# Ans:
t21 = (10, 34, 56, 89, 12, 75)
l = []
for i in t21:
    if i % 2 == 0:
        l.append(i)
tuple(l)

(10, 34, 56, 12)

In [54]:
# 36. Multiply all elements in a tuple by 2.

# Ans:
ls = []

for i in t21:
    ls.append(i*2)

tuple(ls)

(20, 68, 112, 178, 24, 150)

In [65]:
# 37. Create a tuple of random numbers.

# Ans:
import random
num_l = []

for i in range(10):
    num_l.append(random.random())

print(tuple(num_l), end= ' ')

(0.7893018537672163, 0.46210515877291125, 0.24666623809445765, 0.8826509512548769, 0.28601073707527014, 0.014120109290845062, 0.1832095424627297, 0.8230099086723119, 0.8553749013113577, 0.4991788020148108)

In [2]:
# 38. Check if a tuple is sorted.

# Ans:
t23 = (10, 20, 5)

if t23 == tuple(sorted(t23)):
    print("t23 is sorted")
else:
    print("t23 is not sorted")

t23 is not sorted

In [3]:
# 39. Rotate a tuple to the left by `n` positions.

# Ans:
n = int(input("enter the nth position: "))

t24 = t23[n:]+t23[:n]
print(t24)

enter the nth position: 2
(5, 10, 20)

In [10]:
# 40. Rotate a tuple to the right by `n` positions.

# Ans:
import numpy
print(t23)
tuple(numpy.roll(t23, 1))

(10, 20, 5)

(5, 10, 20)

In [16]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

# Ans:
n = int(input())
num1 = 0
num2 = 1
count = 1

if n <= 0:
    print("enter the positive integer")
elif n == 1:
    print("Not a valid input")
else:
    print("Fabonacci sequence:")
    while count <= n:
        print(num1)
        next_num = num1+ num2
        num1 = num2
        num2 = next_num
        count+=1

5
Fabonacci sequence:
0
1
1
2
3

In [18]:
# 42. Create a tuple from user input.

# Ans:
a = input("enter the input: ")
print(tuple(a))

enter the input: 568
('5', '6', '8')

In [29]:
# 43. Swap two elements in a tuple.

# Ans:
t25 = (9, 10)
test_list = []
test_list.append(t25[1])
test_list.append(t25[0])
t26 = tuple(test_list)

In [32]:
# 44. Reverse the elements of a tuple.

# Ans:
t27 = (2, 34, 89, 10,11)
t27[::-1]

(11, 10, 89, 34, 2)

In [ ]:
# 45. Create a tuple of the first `n` powers of 2.

# Ans:

In [34]:
# 46. Find the longest string in a tuple of strings.

# Ans:
t28 = ('ggeks', 'for', 'geeks')
longest = max(t28, key = len)
print(longest)

ggeks

In [36]:
# 47. Find the shortest string in a tuple of strings.

#Ans:
shortest = min(t28, key= len)
print(shortest)

for

In [ ]:
# 48. Create a tuple of the first `n` triangular numbers

# Ans:

In [ ]:
# 49. Check if a tuple contains another tuple as a subsequence.

# Ans:

In [ ]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.

# Ans:

## Set Based Practice Problem :

In [50]:
# 1. Create a set with integers from 1 to 5.

# Ans:
s = set(range(1,6))

In [51]:
# 2. Add an element to a set.

# Ans:
s.add(7)
print(s)

{1, 2, 3, 4, 5, 7}

In [52]:
# 3. Remove an element from a set.

# Ans:
s.remove(4)
print(s)

{1, 2, 3, 5, 7}

In [68]:
# 4. Check if an element exists in a set.

# Ans:
print(s)
element = int(input("enter the validation element: "))
print(element in s)

{1, 2, 3, 5, 7}
enter the validation element: 35
False

In [70]:
# 5. Find the length of a set without using the `len()` function.

#Ans:
count= 0
for i in s:
    count+=1
print(count)

5

In [72]:
# 6. Clear all elements from a set.

# Ans:
s1 = {7,9,0}
s1.clear()
print(s1)

set()

In [2]:
# 7. Create a set of even numbers from 1 to 10.

# Ans:
l1 = []
for i in range(11):
    if i%2==0:
        l1.append(i)
        
set(l1)

{0, 2, 4, 6, 8, 10}

In [4]:
# 8. Create a set of odd numbers from 1 to 10.

# Ans:
l1 = []
for i in range(11):
    if i%2!=0:
        l1.append(i)
set(l1)

{1, 3, 5, 7, 9}

In [6]:
# 9. Find the union of two sets.

# Ans:

a = {1,2,3}
b = {4,5,6}

set_ = a.union(b)
print(set_)

{1, 2, 3, 4, 5, 6}

In [7]:
# 10. Find the intersection of two sets.

# Ans:
a = {1,2,3,4}
b = {3,4,5,6}

a.intersection(b)

{3, 4}

In [12]:
# 11. Find the difference between two sets.

# Ans:
c = a.difference(b)
d = b.difference(a)
print(c.union(d))

{1, 2, 5, 6}

In [15]:
# 12. Check if a set is a subset of another set.

# Ans:
x = {1,2,3,4,5,6}
y = {4,5,6}
y.issubset(x)

True

In [16]:
# 13. Check if a set is a superset of another set.

# Ans:
x.issuperset(y)

True

In [19]:
# 14. Create a set from a list.

# Ans:
li = [1,2,3,4,5]
ln = set(li)

In [20]:
# 15. Convert a set to a list.

# Ans:
new_s = list(ln)
print(new_s)

[1, 2, 3, 4, 5]

In [25]:
# 16. Remove a random element from a set

# Ans:
import random
x = {1,2,3,5,67,90}
x.remove(random.sample(x,1)[0])
print(x)

{1, 3, 67, 5, 90}

C:\Users\ADITIG~1\AppData\Local\Temp/ipykernel_20760/810785735.py:6: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  x.remove(random.sample(x,1)[0])

In [27]:
# 17. Pop an element from a set.

# Ans:
x.pop()
x

{5, 67, 90}

In [43]:
# 18. Check if two sets have no elements in common.

# Ans:

x = {1,2,3,4}
y = {6,7,8,5}
t = x.intersection(y)
count = 0

for i in t:
    count+=1
    
if count> 0:
    print('False')
else:
    print('True')

True

In [46]:
# 19. Find the symmetric difference between two sets.

# Ans:
a = {1,2,3,4}
b = {3,4,5,6}

c = a.difference(b)
d = b.difference(a)
c.union(d)

{1, 2, 5, 6}

In [49]:
# 20. Update a set with elements from another set.

# Ans:
a.update(b)
a

{1, 2, 3, 4, 5, 6}

In [ ]:
# 21. Create a set of the first 5 prime numbers.

# Ans:

In [51]:
# 22. Check if two sets are identical.

# Ans:

x = {1,2,3}
y = {1,2,3}

if x== y:
    print("Two sets are identical")
else:
    print("Two sets are not identical")

Two sets are identical

In [54]:
# 23. Create a frozen set.

# Ans:
fruits = frozenset({"apple", "banana", "orange"})
print(fruits)

frozenset({'banana', 'orange', 'apple'})

In [57]:
# 24. Check if a set is disjoint with another set.

# Ans:
x = {1,2,3,4}
y = {5,6,7}
x.isdisjoint(y)

True

In [70]:
# 25. Create a set of squares of numbers from 1 to 5.

# Ans:
li_t = []
import math
for i in range(1,6):
    li_t.append(i*i)
set(li_t)

{1, 4, 9, 16, 25}

In [1]:
# 26. Filter out all even numbers from a set.

# Ans:
es = {2,4,56,89,10,45,89,20}
# l= []
# for i in es:
#     if i % 2== 0:
#         l.append(i)
# set(l)

even = filter(lambda x : x%2==0, es)
print(set(even))

{2, 4, 10, 20, 56}

In [2]:
# 27. Multiply all elements in a set by 2.
# Ans:
print(es)
mul = set(map(lambda x: x*2, es))
mul

{2, 4, 20, 56, 89, 10, 45}

{4, 8, 20, 40, 90, 112, 178}

In [5]:
# 28. Create a set of random numbers.

# Ans:
import random

set(random.sample(range(0,100), 5))

{54, 59, 72, 81, 99}

In [13]:
# 29. Check if a set is empty

# Ans:
m = {}
z = {}
if z == m:
    print('set is empty')
else:
    print('set is not empty')

set is empty

In [20]:
# 30. Create a nested set

# Ans:
s1 = {1,2,4}
s2 = {4,5,6}
set_y = {}
set_y= {(frozenset(s1),frozenset(s2))}
set_y

{(frozenset({1, 2, 4}), frozenset({4, 5, 6}))}

In [22]:
# 31. Remove an element from a set using the discard method

# Ans:
s1.discard(4)
s1

{1, 2}

In [28]:
# 32. Compare two sets.

# Ans:
s1 = {1,2,4}
s2 = {1,2,4}

if len(s1) == len(s2):
    if s1 == s2:
        print('sets are identical')
    else:
        print('sets are not identical')
else:
     print('sets are not identical')

sets are identical

In [30]:
# 33. Create a set from a string.

# Ans:
stru = 'aditi is doing great'

set(stru)

{' ', 'a', 'd', 'e', 'g', 'i', 'n', 'o', 'r', 's', 't'}

In [33]:
# 34. Convert a set of strings to a set of integers

# Ans:
set1= { '1', '2' }
new_set = set(map(int,set1))
new_set

{1, 2}

In [34]:
# 35. Convert a set of integers to a set of strings.

# Ans:
set_str = set(map(str, new_set))
set_str

{'1', '2'}

In [37]:
# 36. Create a set from a tuple.

# Ans:
t = (1,2,3,45)
n_s = set(t)
n_s

{1, 2, 3, 45}

In [38]:
# 37. Convert a set to a tuple.

# Ans:
tuple(n_s)

(1, 2, 3, 45)

In [41]:
# 38. Find the maximum value in a set.

# Ans:
max(n_s)

45

In [42]:
# 39. Find the minimum value in a set.

# Ans:
min(n_s)

1

In [50]:
# 40. Create a set from user input.

# Ans:

inp = input()
set(inp)

89

{'8', '9'}

In [88]:
# 41. Check if the intersection of two sets is empty.

# Ans:
s1 = {1,2}
s2 = {8}
ns = {}


# result = s1.intersection(s2) 
# print(result)

set()

In [92]:
# 42. Create a set of the first 5 Fibonacci numbers.

# Ans:
num1 = 0
num2 =1
count= 0
n = int(input())

if n<=0:
    print('Enter the positive number')
elif n== 1:
    print("Enter thr valid input")
else:
    print("Fibonacci numbers: ")
    while count<=n:
        print(num1)
        next_num = num1 + num2
        num1 = num2
        num2 = next_num
        count +=1

5
Fibonacci numbers:
0
1
1
2
3
5

In [93]:
# 43. Remove duplicates from a list using sets.

# Ans:

list_t = [2,3,2,4,5,6,6,7,8,10,10]
set(list_t)

{2, 3, 4, 5, 6, 7, 8, 10}

In [102]:
# 44. Check if two sets have the same elements, regardless of their count.

# Ans:
se = {1,2,2,4,5,6}
es = {1,2,3,4,5}

# print(se.intersection(es))
se.intersection(es)

{1, 2, 4, 5}

In [5]:
# 45. Create a set of the first `n` powers of 2.

# Ans:
def problem(n):
myList = []    
for j in range(0, n):
    number = 2 ** j
    myList.append(number)
return myList

IndentationError: expected an indented block (Temp/ipykernel_15612/2016053122.py, line 5)

In [103]:
# 46. Find the common elements between a set and a list.

# Ans:
se = {1,2,4,5,6}
ist = [2,3,4,5,7,8,9]
se.intersection(ist)

{2, 4, 5}

In [ ]:
# 47. Create a set of the first `n` triangular numbers.

# Ans:

In [104]:
# 48. Check if a set contains another set as a subset.

# Ans:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6}

s2.issubset(s1)

True

In [8]:
# 49. Create a set of alternating 1s and 0s of length `n`

# Ans:
# st = {}
# li = [0,1]
# n = int(input())
# count = 0
# lis = []

# if count <= n:
#     lis.append(0)
#     lis.append(1)
#     count+=1

#     lis

5

[0, 1]

In [10]:
# 50. Merge multiple sets into one.

# Ans:

s1 = {1,2,3}
s2 = {4,5,6}
s3 = {7,8,9}

s1.union(s2, s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}